# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala
6. Java
7. C++

Some of the commonly used libraries used by Data Scientists include:

1. NumPY
2. Pandas
3. Scikit-learn
4. TensorFlow

| Data Science Tools |
| -------------------|
| Juypter Notebooks|
| R Studio|
| Scrapy|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
hr_to_min = 200/60
print(f" hourtomin: {hr_to_min:.2f}")

 hourtomin: 3.33

**Objectives:**

. Python

. R

. SQL

. Julia

. Scala

. Java

. C++

## Author
Engin SAN